<!-- views/about.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
    <p>This is the about page.</p>
    <a href="/about">Go to About Page</a>
    <a href="/">Go to Home Page</a>
    <a href="/contact">Go to Contact Page</a>
    <a href="/products">Go to Products Page</a>
  </body>
</html>
